<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <p>Your character will be…</p>

      <h2>{{character.name}}</h2>
      <hr>

      <h4>Position</h4>
      <p>{{character.position}}</p>
      <h4>Background</h4>
      <p>{{character.background}}</p>
      <h4>Goals</h4>
      <ul class="list-light">
        <li ng-repeat="goal in character.goals">{{goal.description}}</li>
      </ul>
      <h4>Abilities</h4>
      <ul class="list-light">
        <li ng-repeat="ability in character.abilities">{{ability.description}}</li>
      </ul>
      <h4>Limitations</h4>

      <ul class="list-light">
        <li ng-repeat="limitation in character.limitations">{{limitation.description}}</li>
      </ul>

      <button class="btn btn-primary btn-block" ng-click="imReady()" ng-hide="ready">I'm Ready to Start!</button>
      <div class="waiting-screen text-center" ng-show="ready">
        <!-- <span us-spinner="{radius:30, width:8, length: 16, color: 'white'}"></span> -->
        <h4 class="waiting-message text-center">Waiting for game to start…</h4><br>
        <h4 class="ready-characters text-center">{{numPlayersJoined}}/{{numCharacters}} characters ready</h4>
        <!-- Remove this first button, it's just for testing -->
        <button id="set-users-as-ready" class="btn btn-primary btn-block" ng-click="fastSetup()">Automatically set all users to be "Ready"</button>
      </div>
      <div class="dim" ng-show="ready"></div>
    </div>
  </div>
</div>
