<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Test</p>
      <!-- anything typed in here is magically saved to our Firebase database! -->
      <input type="text" ng-model="data.text" />
      <h1>You said: {{ data.text }}</h1>
      <div ng-hide="currentChoice.answered">
        <h2>{{ currentChoice.message }}</h2>
        <h3>{{ currentChoice.decision.question }}</h3>
      	<button ng-repeat="choice in currentChoice.decision.choices"
          ng-click="choose(choice)">
          {{ choice.choice }}
        </button>
      </div>
    </div>
  </div>
</div>
