@import '../variables';
nav {
  padding-top: 8px;
  &.navbar-default {
    border-bottom: 0px;
  }
  .logo-area {
    display: flex;
    align-items: center;
  }
  img.logo-img {
    height: 25px;
  }
  a.logo-text {
    font-family: $font-stack;
    font-weight: 700;
    letter-spacing: -1px;
    color: $dark-blue;
    display: inline-block;
    padding: 0;
    font-size: 1.6em;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  .nav-links-area {
    height: 100%;
  }
  ul.nav-links {
    padding-top: 4px;
    margin-bottom: 0;
    float: right;
    list-style-type: none;
    -webkit-padding-start: 0px;
    li {
      display: inline-block;
      padding-left: 20px;
    }
    a {
      color: $dark-grey;
      height: 1.5rem;
      line-height: 1.5rem;
      border-bottom: 1px solid $medium-grey;
      text-decoration: none;
      &:hover,
      &:focus {
        cursor: pointer;
        text-decoration: none;
      }
      &:hover {
        border-bottom: 1px solid $dark-grey;
      }
    }
  }
  @media all and (max-width: 399px) {
    a.logo-text {
      display: none;
    }
  }
}

.landing-page {
  section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #hero {
    height: 400px;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    display: flex;
    align-items: center;
    background: url('/assets/friends.png');
    background-size: cover;
    background-position: 50% 50%;
    .hero-title {
      font-family: $font-stack;
      font-size: 48px;
      width: 100%;
      letter-spacing: -1px;
      color: white;
      text-align: center;
      font-weight: 200;
      font-kerning: normal;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
    }
    background-color: white;
  }
  #about-args {
    .about-title {
      color: $bright-green;
      font-weight: 100;
    }
    .about-subtitle {
      font-weight: 300;
      margin-top: 20px;
      color: white;
    }
    .example {
      .left {
        display: inline-block;
        float: left;
        width: 25%;
        img {
          width: 80%;
        }
      }
      .right {
        display: inline-block;
        float: left;
        width: 75%;
      }
    }
    .bold {
      font-weight: 700;
    }
    .example-description {
      color: lighten($dark-blue, 25%);
    }
  }
  #about-real-world {
    background-color: white;
    .embed-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
      margin: 0 auto;
    }
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .about-title {
      color: $dark-blue;
      font-weight: 100;
      margin-bottom: 25px;
    }
    .about-description {
      font-weight: 300;
      margin-top: 10px;
      color: lighten($dark-blue, 5%);
    }
    .about-emphasis {
      margin-top: 30px;
      font-weight: 400;
      color: $dark-blue;
    }
  }
  #get-started {
    background-color: $bright-green;
    .ready-title {
      font-family: $font-stack;
      font-weight: 100;
      color: $dark-blue;
      text-align: center;
    }
    .ready-buttons {
      margin-top: 25px;
      margin-bottom: 35px;
      text-align: center;
      .btn {
        background-color: $dark-blue;
        &:hover {
          cursor: pointer;
          background-color: lighten($dark-blue, 10%);
        }
        color: white;
        font-weight: 300;
        &.btn-stroke {
          background: none;
          border: 1px solid $dark-blue;
          border-radius: 5px;
          color: $dark-blue;
          &:hover {
            cursor: pointer;
            border-color: lighten($dark-blue, 10%);
            background-color: lighten($dark-blue, 10%);
            color: white;
          }
        }
      }
    }
  }
  .footer {
    color: lighten($dark-blue, 20%);
    margin-top: 30px;
  }
}
