<div class="decision-inner clearfix">
  <div class="decision pull-left">
    <div class="decision-message" ng-show="messageExists">
      <h4>{{ decision.message }}</h4>
    </div>
    <div class="question">
      <h4>{{ decision.decision.question }}</h4>
    </div>
    <div class="options">
      <label class="option" ng-repeat="choice in decision.decision.choices">
        <input type="checkbox" checklist-model="selection" checklist-value="choice.choice"> {{ choice.choice }}
      </label>
    </div>
  </div>
  <div class="pull-right">
    <i class="fa fa-close" class="close-decision" ng-click="closeDecision()"></i>
  </div>
</div>
<div class="decision-submit" ng-click="submitDecision()">
  <span>Submit</span>
</div>
