<div class="decision-inner clearfix">
  <div class="decision">
    <div class="decision-message" ng-show="messageExists">
      <h4>{{ decision.message }}</h4>
    </div>
    <div class="question">
      <h4>{{ decision.decision.question }}</h4>
    </div>
    <div class="options">
      <div class="option" ng-repeat="choice in decision.decision.choices">
        <input type="radio" name="selectionRadio" class="option-input radio" ng-model="selection.value" ng-value="choice">
        <!-- value="{{choice.choice}}" -->
        <label>{{ choice.choice }}</label>
      </div>
    </div>
  </div>
</div>
<div class="decision-submit" ng-click="submitDecision()">
  <span>Submit</span>
</div>
