<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
      <h2>Creating a new game</h2>
      <h4 class="subheader"><span class="focus">Step 2</span> Add Characters to your game</h4>
      <hr>
    </div>
    <div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">

      <form id="character-form" name="characterForm">
        <div class="clearfix">
          <button type="button" ng-click="addNew()" class="btn btn-default pull-left add-character"><i class="fa fa-user-plus margin-right"></i>Add a new character</button>
        </div>
        <div class="small-spacer"></div>
        <div class="well character-well" ng-repeat="character in characters track by $index">
          <div class="clearfix">
            <h4 class="pull-left">Character #{{ $index + 1 }}</h4>
            <button type="button" ng-click="remove($index)" class="btn btn-sm btn-grey pull-right" ng-show="$index !== 0"><i class="fa fa-user-times margin-right"></i>Delete this character</button>
          </div>
          <div class="small-spacer"></div>
          <div class="form-group">
            <label for="name" class="pull-left">Character Name</label>
            <input type="text" ng-model="character.name" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="character-position" class="pull-left">Position</label><span class="pull-right">i.e., Student, Magician, Thief</span>
            <input type="text" ng-model="character.position" class="form-control" id="character-position">
          </div>
          <div class="form-group">
            <label for="character-background" class="pull-left">Background</label><span class="pull-right">Describe this character's history and personality.</span>
            <textarea type="text" ng-model="character.background" class="form-control" id="character-background"></textarea>
          </div>
          <div class="form-group">
            <label for="character-goals" class="pull-left">Goal</label><span class="pull-right">What should the character be trying to achieve?</span>
            <input type="text" ng-model="character.goals[0]" class="form-control" id="character-goals">
          </div>
          <!-- Maybe we can add character images? -->
        </div>
        <button type="submit" class="btn btn-lg btn-aqua pull-right margin-right" ng-click="submitCharacters()">Save all characters and go to next step</button>
      </form>
    </div>
  </div>
</div>
