<form id="character-form" name="characterForm" ng-submit="submitCharacters()">

    <!-- <alert type="danger" ng-show="error">
        {{ error }}
    </alert> -->
    <h2>CHARACTER DETAILS</h2>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" ng-model="character.name" class="form-control" id="name" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="character-position">Position</label>
        <input type="text" ng-model="character.position" class="form-control" id="character-position" placeholder="Position">
    </div>
    <div class="form-group">
        <label for="character-background">Background</label>
        <textarea type="text" ng-model="character.background" class="form-control" id="character-background" placeholder="Background"></textarea>
    </div>
    <div class="form-group">
        <label for="character-goals">Goals</label>
        <input type="text" ng-model="character.goals" class="form-control" id="character-goals" placeholder="Goals">
    </div>
    <button type="submit" class="btn btn-default">Add characters</button>
</form>
