<!-- Markup for lists inside the dropzone. It's inside a seperate template
     because it will be used recursively. The dnd-list directive enables
     to drop elements into the referenced array. The dnd-draggable directive
     makes an element draggable and will transfer the object that was
     assigned to it. If an element was dragged away, you have to remove
     it from the original list yourself using the dnd-moved attribute -->
<script type="text/ng-template" id="list.html">
    <ul dnd-list="list">
        <li ng-repeat="item in list"
            dnd-draggable="item"
            dnd-effect-allowed="move"
            dnd-moved="list.splice($index, 1)"
            dnd-selected="models.selected = item"
            ng-class="{selected: models.selected === item}"
            ng-include="'container.html'">
        </li>
    </ul>
</script>


<!-- This template is responsible for rendering a container element. It uses
     the above list template to render each container column -->
<script type="text/ng-template" id="container.html">
    <div class="container-element box box-blue">
        <h3>{{item.title}}
          <input type="number" name="time" ng-model="item.timed.timeout">
          Minutes after game start
        </h3>
        <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
        <div class="clearfix"></div>
    </div>
</script>

<!-- Template for a normal list item -->
<script type="text/ng-template" id="item.html">
    <div class="item">Item {{item.id}}</div>
</script>

<!-- Sidebar -->
<!-- <div class="col-md-2">

  <div class="toolbox box box-grey box-padding">
    <h3>New Elements</h3>
    <ul>
      <li ng-repeat="item in models.templates"
      dnd-draggable="item"
      dnd-effect-allowed="copy"
      dnd-copied="item.id = item.id + 1"
      >
      <button type="button" class="btn btn-default btn-lg">{{item.type}}</button>
    </li>
  </ul>
</div> -->
<div class="col-md-3">

  <div class="toolbox box box-grey box-padding">
    <h3>Events</h3>
    <ul>
      <!-- The toolbox only allows to copy objects, not move it. After a new
      element was created, dnd-copied is invoked and we generate the next id -->
      <li ng-repeat="item in eventList"
        dnd-draggable="item"
        >
        <!-- dnd-effect-allowed="copy"
        dnd-copied="item.id = item.id + 1" -->
        <button type="button" class="btn btn-default btn-lg">{{item.title}}</button>
      </li>
    </ul>
  </div>
</div>

<!-- Main area with dropzones and source code -->
<div class="col-md-6">
    <div class="row">
        <div ng-repeat="(zone, list) in models.dropzones">
            <div class="dropzone box box-yellow">
                <!-- The dropzone also uses the list template -->
                <h3>Game Timeline</h3>
                <div ng-include="'list.html'"></div>
            </div>
        </div>
    </div>

    <div view-source="nested"></div>

    <h2>Generated Model</h2>
    <pre>{{modelAsJson}}</pre>
</div>

<div class="col-md-3">
  <div class="row">
    <div ng-if="models.selected" class="box box-grey box-padding">
      <h3 >{{ models.selected.title }}</h3>
      <hr>
      <h5 ng-show="models.selected.type">Type of event
        <p class="list-group-item-text">{{ models.selected.type }}</p>
      </h5>
      <h5 ng-show="models.selected.eventThatOccurred">Description
        <p class="list-group-item-text">{{ models.selected.eventThatOccurred }}</p>
      </h5>
      <h5 ng-show="models.selected.decision.question">Question
        <p class="list-group-item-text">{{ models.selected.decision.question }}</p>
      </h5>
      <h5 ng-show="models.selected.decision.question">Choices
        <p ng-repeat="choice in models.selected.decision.choices" class="list-group-item-text">{{ choice.choice }}</p>
      </h5>
    </div>
  </div>
</div>
