<infobar game="game" character="character"></infobar>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Abilities</h3>
      <ul>
        <li ng-repeat="ability in abilities">
          {{ability.description}}
          <span ng-show"ability.willTrigger"><br>
            <button type="button" ng-click="triggerEvent(gameId, willTrigger)">
              
            </button></span>
        </li>
      </ul>
      <h3>Limitations</h3>
      <ul>
        <li ng-repeat="limitation in limitations">
          {{limitation.description}}
        </li>
      </ul>
    </div>
  </div>
</div>
<navbar></navbar>
