@import '../variables';

.list-group-item {
  border: $dark-blue;
}

a.list-group-item {
  &:hover {
    cursor: pointer;
  }
}

p.list-group-item-text {
  color: $medium-grey;
}

a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading {
  margin-top: 6px;
}
