@import '../variables';

a.list-group-item {
  border-bottom: 1px solid $medium-grey;
  &:hover {
    cursor: pointer;
  }
}

p.list-group-item-text {
  color: $medium-grey;
}

a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading {
  margin-top: 6px;
}
