<div class="container">
  <div class="col-xs-12">
    <div class="play-warning">
      <div class="alert alert-warning" role="alert"><strong>Note: </strong>Real World ARGs are optimized to be played on mobile devices. We recommend you use your phone to play! </div>
    </div>
    <div class="well">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="gameID" placeholder="Enter a game code…">
      </div>
      <button class="btn btn-aqua btn-block" ng-click="joinExistingGame()">Join a Game</button>
    </div>
    <button class="btn btn-aqua btn-block" ui-sref="instructionList">Start a New Game</button>
    <!-- <button class="btn btn-default btn-block" ui-sref="buildGame">Write your own Game</button> -->
  </div>
</div>
