* {
  box-sizing: border-box;
}

@import 'variables';

body {
  background: $dark-blue;
  padding-bottom: 70px;
  font-family: $font-stack;
  color: $aqua-blue;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.short-id-box {
  z-index: 10;
  padding: 10px;
  background-color: $bright-green;
  span {
    color: $dark-blue;
    &.description {
      font-size: 12px;
    }
    &#short-id {
      font-size: 36px;
    }
  }
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

#main {
  padding-top: 15px;
  margin: 0 auto;
  &.inGame {
    padding-top: 45px;
  }
}

hr {
  border: 0;
  height: 1px;
  margin-top: 4px;
  background: $aqua-blue;
  margin-bottom: 20px;
  &.on-light {
    background: $dark-blue;
    margin-bottom: 15px;
  }
}

.small-spacer {
  margin-top: 15px;
}

.spacer {
  margin-top: 30px;
}

.big-spacer {
  margin-top: 60px;
}

/* Font Styles */

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack;
  color: white;
}

p, span {
  font-family: $font-stack;
  color: $aqua-blue;
}

ul {
  color: $medium-grey;
}

// Button styles

.btn-default {
  background-color: darken($dark-blue, 10%);
  border-color: darken($dark-blue, 10%);
  color: white;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: white;
  background-color: darken($dark-blue, 18%);
  border-color: darken($dark-blue, 18%);
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  border: 1px solid darken($dark-blue, 18%);
  background-image: none;
}

.btn-grey {
  background-color: $medium-grey;
  border-color: $medium-grey;
  color: white;
}

.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  color: white;
  background-color: darken($medium-grey, 18%);
  border-color: darken($medium-grey, 18%);
}

.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  border: 1px solid darken($medium-grey, 18%);
  background-image: none;
}

.btn-aqua {
  color: white;
  font-weight: 400;
  background-color: $aqua-blue;
  border-color: $aqua-blue;
}

.btn-aqua:hover,
.btn-aqua:focus,
.btn-aqua:active,
.btn-aqua.active,
.open .dropdown-toggle.btn-aqua {
  color: white;
  font-weight: 400;
  background-color: $aqua-blue;
  border-color: $aqua-blue;
}

.btn-aqua:active,
.btn-aqua.active,
.open .dropdown-toggle.btn-aqua {
  border: 1px solid $aqua-blue;
  background-image: none;
}

.btn-aqua.disabled,
.btn-aqua[disabled],
fieldset[disabled] .btn-aqua,
.btn-aqua.disabled:hover,
.btn-aqua[disabled]:hover,
fieldset[disabled] .btn-aqua:hover,
.btn-aqua.disabled:focus,
.btn-aqua[disabled]:focus,
fieldset[disabled] .btn-aqua:focus,
.btn-aqua.disabled:active,
.btn-aqua[disabled]:active,
fieldset[disabled] .btn-aqua:active,
.btn-aqua.disabled.active,
.btn-aqua[disabled].active,
fieldset[disabled] .btn-aqua.active {
  background-color: $aqua-blue;
  border-color: $aqua-blue;
}

.margin-right {
  margin-right: 5px;
}

.margin-left {
  margin-left: 5px;
}

.margin-top {
  margin-top: 5px;
}

// Form styles

.form-control:focus {
  border-color: $dark-blue;
}

// Popover styles
.fa-info-circle {
  cursor: pointer;
}

.popover-title {
  line-height: 1.5em;
}

.popover-content {
  font-family: $font-stack;
  color: $medium-grey;
}

// @import 'lumx/_lumx';
@import 'landing-page/main';
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'instruction-list/main';
@import 'character-info/main';
@import 'dragDrop/main';
@import 'register-char/main';
@import 'game-builder/main';
