@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$font-stack: 'Open Sans', sans-serif;
$rich-blue: #0C4D8B;
$dark-blue: #031D44;
$mint-green: #C4F1BE;
$aqua-blue: #75B9BE;
$medium-grey: #9E9E9E;
