@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

$font-stack: 'Roboto', sans-serif;
$rich-blue: #0C4D8B;
$dark-blue: #2A3648;
$mint-green: #C4F1BE;
$aqua-blue: #12C1CA;
$medium-grey: #9E9E9E;
$dark-grey: darken(#9E9E9E, 15%);
$light-blue: #EFF9F7;
$light-green: #DCF1D9;
$bright-green: #29D899;
